<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إشعار الرد الجديد</title>
</head>
<body>
    <h1>مرحبًا <%= name %>,</h1>
    <p>تمت إضافة رد جديد على سؤالك في الفيديو "<%= title %>".</p>
    <p>الرجاء تسجيل الدخول إلى موقعنا لمشاهدة الرد ومتابعة المناقشة.</p>
    <p>شكرا لكونك جزءا من مجتمعنا!</p>
    <p>&copy;2024 ليركو. كل الحقوق محفوظة. مشغل بواسطة <a style="border-bottom: 1px solid #23bd70" href="https://my-portfolio0tr.vercel.app">محمود محمد</a></p>
</body>
</html>